<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>目录管理</title>
    <link href="../../plugins/iview/dist/styles/iview.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../plugins/vue/vue.js"></script>
    <script src="../../plugins/iview/dist/iview.min.js"></script>
    <script src="../../plugins/iview/dist/locale/zh-CN.js"></script>
    <script src="../../PrimeJS/PublicJs.js"></script>
    <script src="../../PrimeJS/PermissionManage.js"></script>
</head>
<body>
    <div id="app" style="padding:15px;">
        <template>
            <row>
                <i-col>
                    <template>
                        <i-Form ref="formInline" :model="formInline" inline>
                            <Form-Item prop="user" label="目录名称" label-position="right" :label-width="100">
                                <i-Input type="text" v-model="formInline.user" placeholder="请输入目录名称">
                                </i-Input>
                            </Form-Item>
                            <Form-Item prop="password" label="目录编号" label-position="right" :label-width="100">
                                <i-Input type="text" v-model="formInline.password" placeholder="请输入目录编号">
                                </i-Input>
                            </Form-Item>
                            <Form-Item>
                                <i-Button type="primary" icon="ios-search" size="small" @click="handleSubmit('formInline')">搜索</i-Button>
                            </Form-Item>
                        </i-Form>
                    </template>
                </i-col>
            </row>
            <row style="margin-bottom:5px;">
                <i-col span="8">
                    <template>
                        <i-Button size="small" icon="ios-add" @click="showForm()" type="primary">添加目录</i-Button>
                    </template>
                </i-col>
                <i-col span="2" offset="14">
                    <row type="flex" justify="end">
                        <template>
                            <Button-Group size="small">
                                <i-Button @click="handleRefresh">
                                    <Icon type="md-refresh"></Icon>

                                </i-Button>
                                <i-Button>
                                    <Icon type="md-download"></Icon>

                                </i-Button>
                            </Button-Group>
                        </template>
                    </row>

                </i-col>
            </row>
            <row>
                <i-col span="24">
                    <template>
                        <i-Table border :loading="loading" :columns="cols" :data="tableData"></i-Table>
                    </template>
                </i-col>
            </row>
            <row style="margin-top:5px;">
                <i-col span="16">
                    <row>
                        <template>
                            <Page :total="total" size="small" show-elevator show-sizer show-total />
                        </template>
                    </row>
                </i-col>
            </row>           
        </template>
        <template>
            <Modal v-model="formModal"
                   title="目录信息"
                   :loading="true"
                   :fullscreen="false"
                   :transfer="true"
                   @on-ok="asyncOK">
                <template>
                    <i-Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="100">
                        <Form-Item label="目录名称：" prop="Title">
                            <i-Input type="text" v-model="formValidate.Title" placeholder="请输入目录名称"></i-Input>
                        </Form-Item>
                        <form-item label="父目录：" prop="PSN">
                            <i-select v-model="formValidate.PSN" style="width:200px">
                                <i-option v-for="item in pplist" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                            </i-select>
                        </form-item>
                        <form-item label="目录路径：" prop="Path">
                            <i-input type="text" v-model="formValidate.Path" placeholder="请输入目录路径"></i-input>
                        </form-item>
                        <form-item label="图标：" prop="Icon">
                            <i-input type="text" v-model="formValidate.Icon" placeholder="请输入图标代码"></i-input>
                        </form-item>
                        <form-item label="目录排序：" prop="Order">
                            <i-input type="text" v-model="formValidate.Order" placeholder="请输入目录序号"></i-input>
                        </form-item>
                    </i-Form>
                </template>
            </Modal>
        </template>
    </div>
</body>
</html>