<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EFUtilities" version="1.0.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="LinqKit.EntityFramework" version="1.1.15" targetFramework="net45" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.8.21" targetFramework="net45" />
</packages>