
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PandaLayout.cshtml";
}

@section Styles{
    <link href="~/plugins/iview/dist/styles/iview.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
}

@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/plugins/vue/vue.js"></script>
    <script src="~/plugins/iview/dist/iview.min.js"></script>
    <script src="~/plugins/iview/dist/locale/zh-CN.js"></script>
    <script src="~/PrimeJS/PublicJs.js"></script>
    <script src="~/PrimeJS/DefaultPage.js"></script>
}
@*<div id="subApp">
        <template>
            <i-Select v-model="model1" style="width:200px">
                <i-Option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</i-Option>
            </i-Select>
        </template>
    </div>*@
默认页面